{% extends "../common/base.html" %}

{% block content %}
<section class="vs_login_shadow">
    <article class="vs_login_logincenter">
        <form method="POST" action="javascript:void" id="vs_login_form">
            <p class="vs_logipts"><span class="vs_login_nameicon"></span>
                <input type="text" value="" placeholder="用户名" name="username" id="username"/>
            </p>
            <p class="vs_logipts"><span class="vs_login_pdicon"></span>
                <input type="password" value="" placeholder="密码" name="password" id="password"/>
            </p>
            <input type="button" value="登录" id="vs_login_submit"/>
        </form>
    </article>
</section>
{% endblock %}

{% block footer %}
<script>
    var $shadowEle = $('.vs_login_shadow');
    var $vsLogin = $('.vs_login');
    $vsLogin.on('click', function () {
        $shadowEle.show().addClass('vs_login_show');
    });

    $('.vs_hd_mn').hover(function (e) {
        $(this).find('.vs_hd_menu').show().addClass('vs_login_show');
    }).on('mouseleave', function (e) {
        $(this).find('.vs_hd_menu').removeClass('vs_login_show').hide();
    });

    $('#vs_login_submit').on('click', function () {
        var $submitEle = $(this);
        var uname = $('#username').val();
        var $pwd = $('#password');
        var pwdText = $pwd.val();

        if (!uname || !pwdText) {
            $pwd.attr('placeholder', '用户名或密码错误').val('');
        }
        else {
            $submitEle.attr('disabled', 'disabled');
            $.ajax({
                type: 'post',
                url: '/index/login',
                data: {
                    username: uname,
                    password: pwdText
                }
            }).done(function (rs) {
                if (rs && rs.errno === 0) {
                    var data = rs.data;
                    // 登录成功
                    if (data.logined) {
                        $shadowEle.removeClass('vs_login_show').hide();
                    }
                    // 用户名或密码错误
                    else {
                        $pwd.attr('placeholder', '用户名或密码错误').val('');
                    }
                }
            }).always(function (){
                $submitEle.removeAttr('disabled');
            });
        }
    });
</script>

{% endblock %}


